* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
button:hover {
  cursor: pointer;
}

.container {
  max-width: 375px;
  margin: auto;
  text-align: center;
  padding: 0;
}
.header {
  background-color: red;
  color: white;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  margin: auto;
}

.error-message {
  color: red;
}
input {
  margin-top: 5px;
  font-size: 20px;
  width: 160px;
}
button {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
}

button:hover,
input:hover {
  font-weight: bold;
}

button,
input {
  border: 1px solid black;
  border-radius: 3px;
}

.hidden {
  display: none;
}

#results-list h3 {
  margin-top: 50px;
}

#results-list li {
  list-style: none;
}
#results-list {
  width: 360px;
  margin: auto;
}
